/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');


/* ------------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Hanken Grotesk";
    background-color: hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result-card{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    overflow: hidden;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.result {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 2rem;
    flex: 1;
    border-radius: 20px 20px 20px 20px;
}

.result h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    opacity: 0.6;
}

.score-circle{
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-circle .score{
    font-size: 2.5rem;
    font-weight: 800;

}

.out-of{
    opacity: 0.7;
    font-size: 0.9rem;
}
.result h3{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.result p{
    margin-top: 10px;
    font-size: 13px;
    opacity: 0.5;
    line-height: 1.4;
}

/* Panel derecho */

.summary{
    flex: 1;
    padding: 2rem;
}

.summary h2{
    margin-bottom: 1.2rem;
    opacity: 0.6;
    font-size: 1.2rem;
}

.summary-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 8px;
}

.summary-item img{
    width: 20px;
    margin-right: 0.5rem;
}

.category{
    flex: 1;
    margin-left: 0.5rem;
}

/* colores por categoria */

.reaction{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 98%, 1);
}

.memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(48, 86%, 95%, 1);
}

.verbal{
    background-color: hsla(162, 53%, 97%, 1);
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: hsla(225, 100%, 97%, 1);
    color: hsl(234, 85%, 45%);
}

/* diseño del boton */

.continue-btn{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    border: none;
    padding: 0.7rem;
    justify-content: center;
    border-radius: 20px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.continue-btn:hover{
    background-color: hsla(256, 72%, 46%, 1);
}